table{
    border: 4px;
    border-color: black;
    width: 700px;
    height: 500px;
    border-style: groove;
}
td {
    border: 1px;
    border-style: solid;
    border-color: black;
}
#mid1{
    background-color: rgb(67, 67, 153);
}
